@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

body {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}



.title {
  text-align: center;
}

div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.session-statistics-box, .sign-in-box {
  height: 800px;
  width: 300px;
  text-align: center;
  // border: 2px #68ddcc solid;
  padding: 10px;
  background-color: #a9a9a9;
  margin-left: 0;
  color: white
}

#sign-in {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

#sign-up {
  position: relative;
}

#sign-out {
  display: flex;
  align-self: baseline;
}

.submit-button {
  border-radius: 8px;
  background-color: #ff383f;
  color: white;
  border-color: #ff383f;
}

// .messaging {
//   background-color: #68ddcc;
//   border: 2px solid white;
// }

.game-box-top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-box-top h1 {
  font-family: 'Finger Paint', cursive;
  font-size: 80px;
  color: #ff383f;
}

.game-box {
  // border: 2px #68ddcc solid;
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9a9a9;
}

.game-parameter {
  height: 400px;
  width: 400px;
}

.game-board {
  margin: 0;
  height: 133.33px;
  width: 133.33px;
  max-width: 133.33px;
  max-height: 133.33px;
}

.game-board.mid-col {
  // border-width: 0px 5px 0px 5px;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.game-board.mid-row {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}


.indicator-boxes {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-indicators {
  border: 2px solid black;
  margin: 15px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff383f;
  color: white;
}

#after-sign-in {
  display: none;
}

#after-sign-in

.modal-content {
  background-color: #a9a9a9;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ff383f !important;
    border-radius: 8px !important;
    background-color: #ff383f !important;
    color: white !important;
    border-color: #ff383f !important;
}

.icons {
  font-size: 128px;
  font-family: 'Finger Paint', cursive;
  max-width: 128px;
  max-height: 128px;
  text-align: inherit;
  line-height:110px;
  color: #ff383f;

}
