@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

body {
  background-color: #c2c2c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-panel {
  width: 60%;
}

.left-panel, .right-panel {
  width: 20%;
  background-color: #efefef;
}

.title {
  text-align: center;
}

.menu-icon {
  display: none;
}

div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.session-statistics-box, .sign-in-box {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-left: 0;
  color: #656565;
}

.session-statistics {
  margin-top: 30px;
  overflow: hidden;
}

.game-log {
  height: 600px;
  overflow: scroll;
  text-align: left;
}

#sign-in {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

#sign-up {
  position: relative;
}

.close-button {
  display: none;
}

.submit-button {
  border-radius: 8px;
  background-color: #2eb2ff;
  color: white;
  border-color: #2eb2ff;
  width: 100%;
  height: 30px;
  opacity: 60%;
  transition: 0.4s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-box-top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-box-top h1 {
  font-family: 'Finger Paint', cursive;
  font-size: 80px;
  color: #ff383f;
}

.game-box {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c2;
  color: white;
}

.game-parameter {
  height: 400px;
  width: 400px;
}

.game-board {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 133.33px;
  max-height: 133.33px;
}

.game-board.mid-col {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.game-board.mid-row {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.game-box-bottom {
  height: 15%;
}

.indicator-boxes {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.player-indicators {
  margin: 15px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 35%;
  transition: 0.4s;
}

.player-indicator-boxes.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#after-sign-in {
  display: none;
}

.inactive-screen {
  display: none;
}

.modal-content {
  background-color: #a9a9a9;
}

.icons {
  font-size: 128px;
  font-family: 'Finger Paint', cursive;
  max-width: 128px;
  max-height: 128px;
  text-align: inherit;
  line-height:110px;
  color: #ff383f;

}

.current-player {
  opacity: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#player1 {
  background-color: #ff383f;
}
#player2 {
  background-color: #2eb2ff;
}

.btn-primary:hover, .submit-button:hover {
  opacity: 100%;
  background-color: #ff383f;
  border-color: #ff383f;
}

.new-game-button:disabled {
  opacity: 50%;
  background-color: gray;
  border-color: gray;
}

.new-game-button {
  margin-top: 15px;
}

#modal-title {
  text-align: center;
}

.modal-backdrop {
  z-index: 1;
}

.signed-in {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.full-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.complete {
  color: #319c31;
  font-weight: bold;
}

.incomplete {
  color: #ff383f;
  font-weight: bold;
}

.new-game {
  text-align: center;
  width: 50%;
}

#change-password-messaging {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}

#messaging {
  text-align: center;
  color: #656565;
  font-size: 20px;
  padding: 12px;
}

.total-games-box {
  color: #656565;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.total-games {
  font-size: 70px;
}

@media only screen and (max-width: 1050px) {
  body {
    background-color: #c2c2c2;
  }

  .menu-icon {
    display: inline;
    height: 35px;
    position: absolute;
    top: 1%;
    right: 1%;
  }

  .game-box-top h1 {
    font-size: 45px;
    margin-top: 70px;
  }

  .right-panel {
    display: none;
  }

  .center-panel {
    width: 100vw;
  }

  .left-panel {
    z-index: 7;
    position: absolute;
    background-color: #efefef;
    bottom: 0;
    height: 75%;
    width: 94%;
    border-radius: 15px 15px 0 0;
    text-align: center;
    margin: 0 3%;
    visibility: collapse;
  }
  .game-box {
    z-index: -1;
  }

  .close-button {
    display: inline;
    color: #656565;
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 25px;
  }

  .player-indicators {
    height: 100px;
    width: 150px;
  }
}
